<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/shards.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="my-5">Login</h2>
            <span th:text="${error}" class="text-danger"></span>
            <form action="#" th:action="@{/login}" th:object="${userLogin}" method="post">
                <div class="form-group col-md-6">
                    <label for="email" class="col-form-label">Email</label>
                    <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="password" class="col-form-label">Password</label>
                    <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Login">
                    </div>
                </div>
            </form>
            <div class="row mt-5">
                <a href="/signup">Register</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>