<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/shards.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/train">RailwayReservation</a>
            <a class="navbar-brand" aria-current="page" href="/train">Home</a>
            <a class="navbar-brand " href="/myaccount" tabindex="-1">My Account</a>
            <ul class="d-flex">
                <li class="nav-item">
                    <a class="navbar-brand" href="/logout" >Log out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <h2 class="my-5">Selected Train</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Train number</th>
                    <th scope="col">Train name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Departure Time</th>
                    <th scope="col">Arrival Time</th>
                    <th scope="col">Fare</th>
                    <th scope="col">Total seats</th>
                    <th scope="col">Available seats</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${train.trainNumber}"></td>
                    <td th:text="${train.trainName}"></td>
                    <td th:text="${train.date}"></td>
                    <td th:text="${train.departureTime}"></td>
                    <td th:text="${train.arrivalTime}"></td>
                    <td th:text="${train.fare}"></td>
                    <td th:text="${train.totalSeats}"></td>
                    <td th:text="${train.availableSeats}"></td>
                </tr>
                </tbody>
            </table>
            <h2 class="my-5">Passenger Details</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Berth Preference</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${passenger.name}"></td>
                    <td th:text="${passenger.age}"></td>
                    <td th:text="${passenger.gender}"></td>
                    <td th:text="${passenger.email}"></td>
                    <td th:text="${passenger.mobile}"></td>
                    <td th:text="${passenger.berth}"></td>
                </tr>
                </tbody>
            </table>
            <h2 class="my-5">Payment Info</h2>
            <form action="#" th:action="@{/confirm/{id}/{pid} (id=${train.id}, pid=${passenger.id})}" th:object="${payment}" method="post">
                <div class="form-group col-md-6">
                    <label for="cardNo" class="col-form-label">Credit Card No</label>
                    <input type="text" th:field="*{cardNo}" class="form-control" id="cardNo" required>
                    <span th:if="${#fields.hasErrors('cardNo')}" th:errors="*{cardNo}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="cardName" class="col-form-label">Name on Card</label>
                    <input type="text" th:field="*{cardName}" class="form-control" id="cardName" required>
                    <span th:if="${#fields.hasErrors('cardName')}" th:errors="*{cardName}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="expiryDate" class="col-form-label">Expiry Date</label>
                    <input type="text" th:field="*{expiryDate}" class="form-control" id="expiryDate" required>
                    <span th:if="${#fields.hasErrors('expiryDate')}" th:errors="*{expiryDate}" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="cvv" class="col-form-label">CVV</label>
                    <input type="number" th:field="*{cvv}" class="form-control" id="cvv" required>
                    <span th:if="${#fields.hasErrors('cvv')}" th:errors="*{cvv}" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Pay and Confirm booking">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>